* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

:root {
    --background-color: #0C0C0C;
    --primary-color: #EA8610;
    --primary-color-lighter: #CF8225;
    --text-color: #ebb16b;
    --text-color-lighter: #FFD6A5;
    --text-color-lightest: #FFEDD8;
    --max-width: 1200px;
    --horizontal-margin: 20px;
    --vertical-margin: 36px;
    --menu-height: 50px;
    --logo-oversize: 26px;
    --footer-img-oversize: -46px;
}

body {
    background-color: var(--background-color);
    font-family: 'Hind', sans-serif;
}

.main_container {
    position: relative;
}

h2 {
    font-size: 28px;
    line-height: 1.2em;
    font-weight: 300;
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 8px;
}

h3 {
    color: var(--text-color-lightest);
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 1.2em;
    color: var(--text-color-lightest);
}

.CTA {
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 48px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
}

.CTA1 {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.CTA2 {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-lighter);
    height: var(--menu-height);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 100;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.3);
}

nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* strange values of paddings becouse of hamburger menu touch area */
    padding: 0 var(--horizontal-margin) 0 var(--horizontal-margin);
    padding-right: calc(var(--horizontal-margin) - 18px);
}

.mobile_menu {
    display: flex;
}

.hamburger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--menu-height);
    width: 50px;
}

.hamburger_menu > i {
    font-size: 16px;
}

.overlay_menu {
    position: fixed;
    top: 0;
    height: 100vh;
    transform: translateY(-110%);
    width: 100%;
    background: rgb(234,107,16);
    background: linear-gradient(0deg, rgba(234,107,16,1) 0%, rgba(234,134,16,1) 51%);
    padding: var(--vertical-margin) var(--horizontal-margin);
    z-index: 1000;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.4s;
}

.overlay_menu.open {
    transform: translateY(0);
}

.overlay_menu .close_button {
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 0 auto 20px auto;
}

.overlay_menu .close_button i {
    font-size: 24px;
    line-height: 48px;
}

.overlay_menu ul {
    width: max-content;
    margin: auto;
    text-align: center;
}

.overlay_menu li {
    height: 48px;
}

.overlay_menu a {
    color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    line-height: 48px;
}

.desktop_menu {
    display: none;
}

ul.menu_items {
    list-style: none;
}

ul.menu_items li {
    height: var(--menu-height);
    padding: 0 5px;
}

ul.menu_items span {
    line-height: var(--menu-height);
}

.logo > .container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color:  var(--primary-color-lighter);
}

.logo > .container img {
    height: 64px;
}

.main_distancer {
    height: var(--menu-height);
}

main > section:first-of-type {
    margin-top: calc(var(--vertical-margin) + var(--logo-oversize));
}

main > section:last-of-type {
    margin-bottom: calc(var(--vertical-margin) - var(--footer-img-oversize));
}

footer {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    padding: var(--vertical-margin) var(--horizontal-margin);
}

footer .img_container {
    position: absolute;
    height: 200px;
    top: var(--footer-img-oversize);
    right: var(--horizontal-margin);
}

footer img {
    height: 100%;
}

footer ul {
    list-style: none;
}

footer li {
    height: 48px;
    width: max-content;
}

footer a {
    text-decoration: none;
    color: var(--background-color);
    line-height: 48px;
}

.copyright {
    font-size: 14px;
    background-color: var(--background-color);
    padding: 8px var(--horizontal-margin);
}

.copyright p {
    text-align: center;
    line-height: 1.1em;
    color: rgb(68, 68, 68);
}